---
import type { Post } from "../types/Post";
import Layout from "../layouts/Layout.astro";
import { ArticleData, data } from "../utils/medium";
import hljs from "highlight.js";
import "highlight.js/scss/nord.scss";
import { htmlToText } from "../utils/htmlToText";

export function getStaticPaths(): Array<Post> {
    return data.entries.map((x) => ({
        params: {
            slug: x.slug,
        },
        props: {
            articleData: x,
        },
    }));
}

const articleData: ArticleData = Astro.props.articleData;

const content = articleData.content
    ? articleData.content
          .replace(/<a\s/gi, '<a target="_blank" rel="noreferrer noopener" ')
          .replace(/<pre>\s*((.|\n)*?)\s*<\/pre>/gi, (_, code) => {
              const result = hljs.highlightAuto(htmlToText(code));

              return `<pre><code data-language="${result.language}">${result.value}</code></pre>`;
          })
    : "N/A";
---

<Layout
    title={articleData?.title ?? "N/A"}
    keywords={articleData.keywords}
    preview={articleData.preview_img}
    published={articleData.published}
    summary={articleData.summary}
>
    <h1>{articleData?.title ?? "N/A"}</h1>
    <article set:html={content} />
</Layout>
