---
import Link from "../components/Link.astro";
import "../styles/index.scss";

export interface Props {
    title: string;
    summary?: string;
    preview?: string;
    keywords?: Array<string>;
    published?: string;
}

const canonical = new URL(Astro.url.pathname, "https://blog.frank-mayer.io/");
const props = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link
            href="https://medium.com/feed/@tsukinoko"
            rel="alternate"
            type="application/rss+xml"
        />
        <link rel="canonical" href={canonical} />
        <meta property="og:url" content={canonical} />
        <meta name="generator" content={Astro.generator} />
        {
            props.published ? (
                <>
                    <meta
                        property="article:published_time"
                        content={props.published}
                    />
                    <meta property="og:type" content="article" />
                </>
            ) : (
                <meta property="og:type" content="website" />
            )
        }
        <meta
            name="keywords"
            content={props.keywords
                ? props.keywords.join(", ")
                : "software, engineering"}
        />
        {
            props.summary ? (
                <>
                    <meta name="description" content={props.summary} />
                    <meta property="og:description" content={props.summary} />
                </>
            ) : null
        }
        <meta name="author" content="Frank Mayer" />
        {
            props.preview ? (
                <meta property="og:image" content={props.preview} />
            ) : null
        }
        <meta property="og:title" content={props.title} />
        <title>{props.title}</title>
        <meta property="og:site_name" content="Frank Mayer Blog" />
    </head>
    <body>
        <nav>
            <Link href="/">
                <img src="/favicon.svg" alt="" />Frank Mayer Blog
            </Link>
        </nav>
        <main>
            <slot />
        </main>
        <footer>
            <h2>About</h2>
            <table>
                <tbody>
                    <tr>
                        <th>Web Framework</th>
                        <td><Link href="https://astro.build">Astro</Link></td>
                    </tr>
                    <tr>
                        <th>CMS</th>
                        <td
                            ><Link href="https://medium.com/@tsukinoko">
                                Medium
                            </Link></td
                        >
                    </tr>
                    <tr>
                        <th>Hosting</th>
                        <td
                            ><Link href="https://pages.cloudflare.com/">
                                Cloudflare Pages
                            </Link></td
                        >
                    </tr>
                    <tr>
                        <th>Source</th>
                        <td
                            ><Link href="https://github.com/Frank-Mayer/blog">
                                GitHub
                            </Link></td
                        >
                    </tr>
                    <tr>
                        <th>API (CMS wrapper)</th>
                        <td
                            ><Link href="https://github.com/Frank-Mayer/zeug">
                                zeug
                            </Link></td
                        >
                    </tr>
                </tbody>
            </table>

            <h2>Me</h2>
            <table>
                <tbody>
                    <tr>
                        <th>Homepage</th>
                        <td
                            ><Link href="https://www.frank-mayer.io">
                                www.frank-mayer.io
                            </Link></td
                        >
                    </tr>
                    <tr>
                        <th>Mastodon</th>
                        <td
                            ><a
                                rel="me"
                                href="https://hello.2heng.xin/@tsukinoko"
                                target="_blank">@tsukinoko@littlefo.rest</a
                            ></td
                        >
                    </tr>
                    <tr>
                        <th>Twitter</th>
                        <td
                            ><Link href="https://twitter.com/FF1493FF">
                                @FF1493FF
                            </Link></td
                        >
                    </tr>
                </tbody>
            </table>
        </footer>
    </body>
</html>
